.accountLoggedIn {
    margin-top: 40px;
    margin-bottom: 60px;
}

.accountLoggedOut {
    margin-top: 20px;
    margin-bottom: 20px;
}

.username {
    font-weight: 800;
}

.inputField {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text {
    padding-right: 20px;
    margin-left: 15px;
    width: 175px;
    text-align: right;
}

.input {
    width: 250px;
}