.header {
    display: flex;
    flex-flow: nowrap;
    padding: 20px;
    height: 40px;
    align-items: center;
    background-color: white;
}

.title {
    font-size: 40px;
    padding-left: 30px;
    flex-grow: 1;
}

.searchForm {
    flex-grow: 2;
    align-content: center;
}

.searchField {
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.icons {
    flex-grow: 0;
    padding-left: 20px;
    align-items: center;
}

.icon {
    padding: 4px;
}

.icon:hover {
    color: grey;
    cursor: pointer;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}