.content {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    height: 100%;
}

.animalList {
    max-width: 400px;
    flex-basis: 400px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.extraSpace {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.map {
    border-left: 2px solid black;
    border-top: 2px solid black;
    flex-grow: 1;
    flex-shrink: 1;
}

button {
    padding: 20px;
    margin: 15px;
    background-color: white; /* Green */
    border: 2px solid black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

button:enabled:hover {
    background-color: black; /* Green */
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

h2 { 
    font-size: 32px;
}
