.animalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 60px;
    width: 100%;
}

.myAnimals {
    padding-left: 10px;
    flex-grow: 1;
}

.replayIcon {
    padding-right: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-self: right;
}

.replayIcon:hover {
    color: grey;
}

.addIcon {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.addIcon:hover {
    color: grey;
}

.false, .false:hover {
    color: lightgray;
}

.scrollList {
    height: calc(100vh - 144px);
    overflow: auto;
}

.animalLoggedOutContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 24px;
}

