.animalItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    height: 80px;
    width: 100%;
}

.animalItemFirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
}

.animalItemContainer:hover {
    background-color: gray;
    color: white;
}

.roomIcon {
    padding: 15px;
    width: 30px;
    flex-grow: 0;
}

.animalName {
    flex-grow: 1;
}

.moreVertIcon {
    padding: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-self: right;
}

.moreVertPopover {
    background-color: white;
    padding: 15px;
}