.animalRegistration {
    margin-top: 15px;
    margin-bottom: 15px;
}

.username {
    font-weight: 800;
}

.inputField {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text {
    padding-right: 20px;
    margin-left: 10px;
    width: 200px;
    text-align: right;
}

.input {
    width: 250px;
}