.animalRegistration {
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 0;
}

.username {
    font-weight: 800;
}

.inputField {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text {
    padding-right: 20px;
    margin-left: 10px;
    width: 200px;
    text-align: right;
}

.input {
    width: 250px;
}

.helpIcon {
    margin-left: 10px;
}

.react-tiny-popover-container {
    z-index: 1500;
}

.registrationPopover {
    background-color: lightgray;
    max-width: 200px;
    padding: 10px;
}