.animalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 60px;
    width: 100%;
}

.myAnimals {
    padding-left: 10px;
    flex-grow: 1;
}

.addIconContainer {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: 1px black solid;
    padding-left: 10px;
    padding-right: 3px;
    border-radius: 5px; 
}

.addIconContainer:hover {
    color: grey;
    cursor: pointer;
}

.addAPet {
    padding-bottom: 3px;
}

.false, .false:hover {
    color: lightgray;
}

.scrollList {
    height: calc(100vh - 144px);
    overflow: auto;
}

.animalLoggedOutContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 24px;
}

.iconSuccess {
    color: green;
}

.iconFail {
    color: red;
}