
.map-holder {
  position: relative;
}

.leaflet-container {
  position: absolute;
  height: calc(100% - 82px);
  width: calc(100% - 402px);
  margin: 0 auto;
}

.mapIcon {
  width: 50px;
  height: 100px;
}